.page-nav{
		margin-top: 20px;
		li{
			list-style: none;
		}
		.btn{
			width: 140px;
			text-align: center;
			height: 50px;
			border-radius: 5px;
			background-color: $main-color;
			font-family: $font-mono;
			transition: all 0.4s ease;
			padding:5px;

			a{
				color: #fff;
				display: block;
				line-height: 45px;
			}

			&:hover{
				background-color: transparent;
				border: 1px solid $main-color;

				a{
					color: $main-color;
				}
			}
		}
		.next{
			float: right;
		}
		.previous{
			float: left;
		}
}