<!DOCTYPE html>
<html>

<!-- Head tag -->

<%- partial('_partial/head') %>

<body>
	<!-- header -->
	<%- partial('_partial/header') %>

	<!-- Main content -->
	<%- body %>

	<!-- footer -->
	<%- partial('_partial/footer') %>
</body>
</html>