<article>
	<h1 class="article-title">
	   <%- post.title %>
	</h1>

	<section class="post-time">
		<span class="post-date"><%- full_date(post.date,'MM-DD') %></span>
	</section>

	<section class="article-entry">
	    <%- post.content %>
	</section>	
</article>