<footer>
	<div class="social">
		<a href="<%- theme.social.twitter %>">
			<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		</a>
		<a href="<%- theme.social.github %>">
			<i class="fa fa-github fa-2x" aria-hidden="true"></i>
		</a>
		<a href="<%- theme.social.weibo %>">
			<i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
		</a>
	</div>
	<p>@2016.Power by <a rel="nofollow"  href="https://hexo.io">Hexo</a>. Theme <a rel="nofollow" href="https://github.com/stephenLYao/hexo-theme-fresh.git">fresh</p>
</footer>