<header class="header">
    <section class="banner">
        <img class="banner-image" src="<%- url_for(theme.banner) %>" alt="banner">
        <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" >
    </section>

    <nav class="nav">
    	<a href="/">Home </a>

    	<a href="/archives">Archives</a>
    </nav>
    	
    <div class="subtitle"> <%- theme.subtitle %> </div>
    
</header>