<ul class="page-nav">
    <% if (page.prev){ %>
        <li class="btn previous"><a href="<%- config.root %><%- page.prev_link %>">&larr; NEWER POSTS </a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="btn next"><a href="<%- config.root %><%- page.next_link %>">OLDER POSTS &rarr;</a></li>
    <% } %>
</ul>